body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
}

h1, footer {
    background-color: rgb(238, 170, 255);
}

.site-title {
    color: aliceblue;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
}

ul :nth-child(1) {
    background-color: rgb(238, 170, 255);
}

ul :nth-child(3) {
    background-color: rgb(238, 170, 255);
}

a {
    text-decoration: none;
}

a {
    background-color: bisque;
}

a {
    border: 3px dotted purple;
}
 
a:hover {
    background-color: rgb(255, 207, 148);
}