html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

.banner {
    position: relative;
}
.banner h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70pt;
    color: white;
}

#starfish-wide {
    /* margin-left: 334px; */
    display: block;
}

.everything {
    background-color: #d4e9e7;
    width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.wideimage {
    position: relative;
    text-align: center;
    color: white;
}

/* .maintext {
    margin-top: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
} */

/* .centertext {
    position: absolute;
   
} */

body {
    margin-left: 30px;
    padding: 0;
}

body,
h1 {
    font-size: 30pt;
    margin: 0;
    padding: 0;
}

#starfish-square {
    float: left;
    margin-right: 30px;
}

div p {
    font-size: 14pt;
}

div ul {
    font-size: 14pt;
}